<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDBFilename='|DataDirectory|\Logging.mdf';Initial Catalog=Logging;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="wrongConnectionString" connectionString="Database=Northwind;Server=(localdb)\v11.0;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <!--  This directory looks wrong but "fools" .NET into not throwing "Only absolute directories are allowed for pickup directory" 
            exception.  c:mail ends up putting the .eml file in a relative directory "mail".  This may be relying on 
            undocumented behavior so if this is causing an issue then an absolute path will need to be used here
            and in the test as well.
       -->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory
            pickupDirectoryLocation="c:mail" />
        <network defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
